body {
    background-color:#f7e8ad;
    border:10px green solid;
    padding:20px;
    margin:0
}

#title {font: Georgia;color:#6d0631;
    text-shadow:3px 2px #B8860B;
    text-align:center;
    font-weight:300px;
    font-height:300px;
    font-style:oblique;
    font-size:70px}

h1 {
    font:Georgia;
    color:#6d0631;
    text-shadow:3px 2px #B8860B;
    text-align:center;
    font-weight:300px;
    font-height:300px;
    font-style:oblique;
    font-size:50px
}

h2 {
    font-family:sans-serif,serif;
    color:#6d0631
}

h3 {
    font:Georgia;
    color:#B8860B; font-size: 30px;
}

.briefheadline {font: Georgia; color: #B8860B; font-size: 25px;}

h4 {
    font-family:sans-serif;
    color:#fff
}

p {
    font:15px arial,sans-serif;
    color:#000;
    text-align:left
}

#description {
    font-weight:700;
    text-shadow:1px 1px #B8860B;
    font-style:oblique;
    color:green;
    
}

 {
    color:green;
    display:block;
    font-family:sans-serif;
    font-weight:10px;
    text-align:center;
    background-color:#f7e8ad;
    padding-top:25px;
    padding-right:50px;
    padding-bottom:25px;
    padding-left:50px
}

hr {
    color:green
}

ul {
    list-style-type:square
}

img {
    border:5px solid #B8860B; margin-left: 20px; margin-bottom: 10px; border-style: double;
}

#photostyle {
    vertical-align:left
}

#header {background-color:#FAE5EF; padding-top:25px; padding-right: 50px; padding-bottom:25px; padding-left: 25px; border: 3px solid #B8860B; border-style: ridge;}

#list {
    font-family:sans-serif;
    font-size:15px;
    color:green
}

#listbackground {
    background-color:#FAE5EF;
    margin:2px;
    padding:5px;
    border:3px; border-color: #6d0631;
    border-style: ridge;
    
}

.byline {
    font-family:serif;
    font-size:12px;
    color:#6d0631
}

.caption {
    font-family:sans-serif;
    font-size:14px;
    font-weight:700;
    color:#B8860B
}

#contact {
    font-family:sans-serif;
    font-size:15px; text-align: center;
}

#contactinfo {
    font-family:sans-serif;
    font-size:14px;
    color:#6d0631; text-align: center;
}



